@using Web.ViewModels
<tr>
    <td class="bold big">
        @EventViewModel.Name
    </td>
    <td>
        @EventViewModel.EventType
    </td>
    <td>
        @EventViewModel.Date.ToLocalTime().Date.ToShortDateString()
    </td>
    <td>
        @EventViewModel.Venue
    </td>
    <td class="bold big">
        @EventViewModel.Capacity
    </td>
    <td class="bold big">
        @EventViewModel.Sold
    </td>
    <td>
        <SoldEdit Event="EventViewModel" OnConfirmed="@OnConfirmed"/>
    </td>
</tr>

@code {
    [Parameter]
    public EventViewModel EventViewModel { get; set; }

    public void OnConfirmed(EventViewModel model)
    {
        StateHasChanged();
    }
}